.App {
  /* display: inline-flexbox; */
  min-width: 770px;
}
.message{
  text-align: center;
  font-size: x-large;
}
.min_message{
  display: none;
}

@media screen  and (max-width : 770px){
  .message{
    display: none;
  }
  .min_message{
    display: block;
    text-align: center;
    font-size: x-large;
  }
}